<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Помилка</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Сталася помилка!</h4>
    <p th:text="${errorMessage}">Невідома помилка.</p>
    <hr>
    <a th:href="@{/note/list}" class="btn btn-secondary">Повернутися до списку нотаток</a>
  </div>
</div>
</body>
</html>
